@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
	#close {
		bottom: 27%;
	}
}



* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: "microsoft yahei";
}

.swiper-container {
	/*  width: 320px;
        height: 480px;*/
	width: 100%;
	height: 100%;
	/* background: #000; */


}

.swiper-slide {
	width: 100%;
	height: 100%;
	background: url(../images/pbg.jpg) no-repeat left top;
	background-size: 100% 100%;

}

.swiper-slide2 {
	width: 100%;
	height: 100%;
	background: url(../images/p1.png) no-repeat left top;
	background-size: 100% 100%;
}
/* .slide2_box {
	width: 100%;
	height: 100%;
	background: url(../images/p1_1.png) no-repeat left top;
	background-size: 100% 100%;
} */

.swiper-slide3 {
	width: 100%;
	height: 100%;
	background: url(../images/p2.png) no-repeat left top;
	background-size: 100% 100%;
}

.swiper-slide4 {
	width: 100%;
	height: 100%;
	background: url(../images/p3.jpg) no-repeat left top;
	background-size: 100% 100%;
}

.swiper-slide5 {
	width: 100%;
	height: 100%;
	background: url(../images/p4.jpg) no-repeat left top;
	background-size: 100% 100%;
}

.swiper-slide6 {
	width: 100%;
	height: 100%;
	background: url(../images/p5.jpg) no-repeat left top;
	background-size: 100% 100%;
}

.swiper-slide7 {
	width: 100%;
	height: 100%;
	background: url(../images/pbg.jpg) no-repeat left top;
	background-size: 100% 100%;
}

img {
	display: block;
}

.swiper-pagination-bullet {
	width: 0.06rem;
	height: 0.06rem;
	background: #fff;
	opacity: .4;
}

.swiper-pagination-bullet-active {
	opacity: 1;
}

@-webkit-keyframes start {

	0%,
	30% {
		opacity: 0;
		-webkit-transform: translate(0, -0.08rem);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translate(0, 0.1rem);
	}
}

@-moz-keyframes start {

	0%,
	30% {
		opacity: 0;
		-webkit-transform: translate(0, -0.08rem);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translate(0, 0.1rem);
	}
}

@keyframes start {

	0%,
	30% {
		opacity: 0;
		-webkit-transform: translate(0, -0.08rem);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translate(0, 0.1rem);
	}
}

.ani {
	position: absolute;
}

.txt {
	position: absolute;
}

#array {
	width: 0.4rem;
	bottom: 0.1rem;
	left: 1.66rem;
	position: absolute;
	z-index: 999;
	-webkit-animation: start 1.5s infinite ease-in-out;
}

/* 音乐图标旋转动画 */
#music {

	width: 0.24rem;
	height: 0.24rem;
	background: url("../images/images/music.png") no-repeat center;
	background-size: 100%;
	top: 0.14rem;
	position: absolute;
	right: 0.2rem;
	z-index: 9;
	display: block;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* ===== */
.container {
	width: 100%;
	height: 100%;
	perspective: 1rem;
	/*元素距离视图的距离*/
	/* border: 1px solid #000; */
}

.box {
	width: 100%;
	height: 100%;
	transform: rotateY(0deg);
}
.box1 {
	width: 100%;
	height: 85%;
	transform: rotateY(0deg);
}
.box3 {
	width: 100%;
	height: 85%;
	transform: rotateY(0deg);
}
.box5 {
	width: 100%;
	height: 102%;
	transform: rotateY(0deg);
}
.box7 {
	width: 100%;
	height: 102%;
	transform: rotateY(0deg);
}
.box9 {
	width: 100%;
	height: 102%;
	transform: rotateY(0deg);
}
.box2,.box4 {
	width: 100%;
	height: 15%;
	transform: rotateY(0deg);
	position: absolute;
}
/* .box4 {
	width: 100%;
	height: 15%;
	transform: rotateY(0deg);
	position: absolute;
	z-index: 4
}
.box6 {
	width: 100%;
	height: 15%;
	transform: rotateY(0deg);
	position: absolute;
	z-index: 4
}
.box8 {
	width: 100%;
	height: 15%;
	transform: rotateY(0deg);
	position: absolute;
	z-index: 4
}
.box10 {
	width: 100%;
	height: 15%;
	transform: rotateY(0deg);
	position: absolute;
	z-index: 4
} */


/* .qingxie {
	transform: skewX(20deg);
	-webkit-transform: skewX(20deg);
	-moz-transform: skewX(20deg);
}

.qingxie2 {
	transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
} */

.quanyi2 {
	display: none;
	width: 100%;
	height: 100%;
	padding-top: 0.7rem;
	background-color: rgba(0, 0, 0, .45);
}

#close {
	width: 0.3rem;
	height: 0.3rem;
	position: absolute;
	bottom: 3%;
	left: 50%;
	margin-left: -0.15rem;
	z-index: 9999;
}

#close img {
	width: 100%;
	height: 100%;
	;
}

.context {
	width: 74%;
	height: 80%;
	margin: 0 auto;
	/* margin-top: 1rem; */
	border: 1px solid #fff;
	z-index: 9999;
	padding: 0 0.2rem;
	position: relative;
	overflow-y: scroll;
}

.context p {
	font-size: 0.13rem;
	color: #fff;
	margin-top: 0.2rem;
}

.lastPage {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background: hotpink;
}

.bottom_box {
	width: 2.5rem;
	right: 0.58rem;
	bottom: 0.4rem;
	z-index: 4;
	visibility: hidden
}

.oneImg1 {
	width: 3.75rem;
	left: 0px;
	top: 0.1rem;
	z-index: 2;
	visibility: visible;
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}

.oneImg2 {
	width: 1.06rem;
	height: 1.8rem;
	left: 0.64rem;
	top: 0.33rem;
	z-index: 9;
	visibility: visible;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}

.oneImg3 {
	width: 1.3rem;
	height: 0.26rem;
	left: 1.22rem;
	bottom: 0.4rem;
	z-index: 9;
	visibility: visible;
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	animation-delay: 4s;
	-webkit-animation-delay: 4s;
}

.oneImg4 {
	width: 1.8rem;
	height: 0.3rem;
	left: 0px;
	top: 0.15rem;
	z-index: 3;
	visibility:
		visible;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
}

.twoImg1 {
	width: 3.75rem;
	height: 46%;
	right: 0px;
	top: 0rem;
	z-index: 5;
	visibility: hidden;
}

.twoImg2 {
	width: 3.2rem;
	right: 0px;
	bottom: 15%;
	z-index: 4;
	visibility: hidden;
}

.twoImg3 {
	width: 2.50rem;
	right: 0.58rem;
	bottom: 40%;
	z-index: 3;
	visibility: hidden;
}

.threeImg1 {
	width: 3.85rem;
	height: 1.22rem;
	right: 0px;
	top: 0.3rem;
	z-index: 5;
	visibility: hidden;
}

.threeImg2 {
	width: 3.75rem;
	height: 44.2%;
	left: 0;
	top: 37.6%;
	z-index: 3;
	visibility: hidden;
}

.fourImg1 {
	width: 110%;
	height: 10.5%;
	left: -3%;
	top: 54.5%;
	z-index: 3;
}

.fiveImg1 {
	width: 2.55rem;
	height: 2.12rem;
	left: 0px;
	top: 0.04rem;
	z-index: 5;
	visibility: hidden;
}

.fiveImg2 {
	width: 100.1%;
	height: 68%;
	right: 0%;
	top: 0%;
	z-index: 4;
	visibility: hidden;
}

.sixImg1 {
	width: 3.75rem;
	left: 0px;
	bottom: 1.7rem;
	z-index: 5;
	visibility: hidden;
}

.sixImg2 {
	width: 3.75rem;
	height: 11%;
	right: 0px;
	top: 34%;
	z-index: 4;
	visibility: hidden;
}

.sixImg3 {
	width: 1.3rem;
	right: 0px;
	bottom: 1.7rem;
	z-index: 4;
	visibility: hidden;
}

.sevenImg1 {
	width: 1.8rem;
	height: 0.3rem;
	left: 0px;
	top: 0.15rem;
	z-index: 3;
	visibility:
		visible;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
}

.sevenImg2 {
	width: 3.75rem;
	height: 1.755rem;
	left: 0px;
	top: 0.8rem;
	z-index: 4;
	visibility: hidden;
}

.sevenImg3 {
	width: 3.75rem;
	right: 0px;
	top: 49%;
	z-index: 4;
	visibility: hidden;
}

.sevenImg4 {
	width: 1rem;
	right: 1.38rem;
	bottom: 16%;
	z-index: 3;
	visibility: hidden;
}

.sevenImg5 {
	width: 2rem;
	right: 0.87rem;
	bottom: 7%;
	z-index: 3;
	visibility: hidden;
}

.sevenImg6 {
	width: 3.75rem;
	height: 66%;
	right: 0px;
	top: 0.8rem;
	z-index: 4;
}

.sevenImg7 {
	width: 3.75rem;
	right: 0px;
	top: 0.82rem;
	z-index: 4;
}

.sevenImg8 {
	width: 2rem;
	right: 0.87rem;
	bottom: 0.6rem;
	z-index: 3;
}

.enetImg1 {
	width: 3.75rem;
	height: 0.51rem;
	left: 0px;
	top: 0.6rem;
	z-index: 4;
	visibility: hidden;
}

.enetImg2 {
	width: 3.75rem;
	height: 1.755rem;
	left: 0px;
	top: 16%;
	z-index: 4;
	visibility: hidden;
}

.enetImg3 {
	width: 3.75rem;
	left: 0;
	bottom: 17%;
	z-index: 3;
	visibility: hidden;
}